@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-accent: #f9f871;
    --color-accent-dark: #f9f871;
    --color-accent-light: #f9f871;
  }